<app-scoreboard #scoreboard [teams]="allTeams"></app-scoreboard>
<div
  *ngIf="sliderPos != undefined"
  class="slider"
  [ngStyle]="{ transform: 'translateY(' + sliderPos + '%)' }"
>
  <app-team
    class="nextTeam"
    *ngFor="let away of aways"
    [team]="away"
    (click)="pickGame(1)"
  ></app-team>
</div>
<div
  *ngIf="sliderPos != undefined"
  class="slider right"
  [ngStyle]="{ transform: 'translateY(' + sliderPos + '%)' }"
>
  <app-team
    class="nextTeam"
    *ngFor="let home of homes"
    [team]="home"
    (click)="pickGame(0)"
  ></app-team>
</div>
